<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head  th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>分类管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css"/>
</head>
<body>
<!-- 顶部 -->
<nav th:replace="admin/_fragments :: menu(2)" class="ui inverted attached segment m-shadow-small m-padded-tb-mini">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">管理后台</h2>
            <a href="#" class="top-item item m-mobile-hide"><i class="home icon"></i>管理</a>
            <a href="#" class="active top-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" class="top-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <div class="right top-item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="../../static/images/tou3.jpeg" class="ui avatar image">
                        yuangcc
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle icon black button m-sidebar-topright m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" class="item" th:href="@{/admin/types/input}">新增</a>
            <a href="#" class="active teal item">列表</a>
        </div>
    </div>
</div>

<br>
<br>
<!-- 主体 -->
<div class="m-container m-padded-tb-big m-container-small">
    <div class="ui container">

        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p th:text="${message}">恭喜，操作成功！</p>
        </div>

        <table class="ui celled table">
            <thead>
            <tr>
                <th></th>
                <th>名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="type,iterStat : ${page.content}">
                <td th:text="${iterStat.count}">1</td>
                <td th:text="${type.name}">aaa</td>
                <td>
                    <a href="#" th:href="@{/admin/types/{id}/input(id=${type.id})}" class="ui mini teal basic button">编辑</a>
                    <a href="#" th:href="@{/admin/types/{id}/delete(id=${type.id})}" class="ui mini red basic button ">删除</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="6" >
                    <div class="ui mini pagination menu" th:if="${page.totalPages}>1">
                        <a th:href="@{/admin/types(page=${page.number}-1)}" class="item" th:unless="${page.first}"><i class="left chevron icon"></i>上一页</a>
                        <a th:href="@{/admin/types(page=${page.number}+1)}" class="item" th:unless="${page.last}">下一页 <i class="right chevron icon"></i></a>
                    </div>
                    <div class="ui floated mini segment compact m-padded-tb-small m-margin-tb-mini">
                        <span>第</span><span th:text="${page.number}+1"></span><span>页</span>
                    </div>
                    <a href="#" th:href="@{/admin/types/input}"  class="ui mini right floated teal basic button">新增</a>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<br>
<br>
<br>
<br>

<!-- 底部 -->
<footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../../static/images/footer.png" class="ui rounded image" alt="" style="width:150px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-opacity-mini m-text-lined m-text-spaced">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事 (User Story)</a>
                    <a href="#" class="item">用户故事 (User Story)</a>
                    <a href="#" class="item">用户故事 (User Story)</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-opacity-mini m-text-lined m-text-spaced">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">QQ:937714759</a>
                    <a href="#" class="item">邮箱:937714759@qq.com</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-opacity-mini m-text-lined m-text-spaced">Blog</h4>
                <p class="m-opacity-mini m-text-lined m-text-spaced m-text-thin">这是我的个人博客，
                    还会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人们带来帮助。</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-opacity-tiny m-text-lined m-text-spaced m-text-thin">Copyright © 2019 - 2020 Limingyang All Rights
            Reserved.</p>
    </div>
</footer>

<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    $('.menu.toggle').click(function () {
        $('.top-item').toggleClass('m-mobile-hide')
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });
</script>

</body>
</html>
